@use "../utils/mixins";
@import "../utils/colors.scss";
@import "../utils/variable.scss";



.bloc {
    margin-top: 2rem;
    //margin-left: -12px;
    //margin: 2px;
    counter-reset: steps; 
    h4 {
            margin: 1px 1px -6px 17px;
        } 

    & ol {
      display: flex;
      gap: 2rem;
      margin: 0rem 1.5rem 3rem 0rem;
      padding: 24px;
      width: 88%;
        @media (max-width: 1000px) {
         flex-direction: column;
        }
        & :hover {
            background-color: $secondaire;
        }
        h2 {
            margin: 0;
            padding: 0;
        }
       
       
    }
    & li {
        position: relative;
        
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $purple;
            border-radius: 50%;
            width: 2 * $tuto-bullet-height;
            height: 2 * $tuto-bullet-height;
            display: grid;
            place-items: center;
            position: absolute;
            bottom: $tuto-bullet;
            left: -$tuto-bullet-height;
        }

        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        width: 80%;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.box-shadox;

        & :hover {
            @include mixins.transform-zoom;
        }

        & i.fas {
            margin-right: 1rem;
            color: $lightgrey;
            font-size: 1.5rem;
        }
       
    }
}
