@import url("https://fonts.googleapis.com/css2? family= Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
::before ::after {
  box-sizing: border-box;
  border: 3px solid red;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: -2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-1%);
}

header {
  font-family: "Shrikhand", cursif;
  text-align: center;
  box-shadow: 0px 2px 2px grey;
  padding: 0.1rem;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  background-color: #f3f3f3;
  padding: 0.1rem;
  width: 100%;
  margin-bottom: 0rem;
  box-shadow: 0px 6px 10px 0px #dbdbdb;
}
main .city i {
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-6px);
}

.explorer {
  text-align: center;
}
.explorer h2 {
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #000000;
  transition: transform 200ms;
  margin-top: 1rem;
  background-color: #686868;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
}
.explorer button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.explorer {
  text-align: center;
  background-color: #f2f2F2;
  padding: 30px 10px;
}
.explorer button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9));
}

.div {
  padding: 20px 20px 20px 0px;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  box-shadow: 0px 6px 10px 0px #dbdbdb;
}

.bloc_function {
  display: flex;
  gap: 2rem;
}
.bloc_function span {
  background-color: #3356de;
  color: #fff;
  border-radius: 100%;
  font-weight: 900;
  font-size: 0.7rem;
  position: absolute;
  top: 17px;
  left: -11px;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menus .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menus .card__image-1 {
  background-image: url("..//..//image/menu-1.jpg");
}
.menus .card__image-2 {
  background-image: url("..//..//image/menu-2.jpg");
}
.menus .card__image-3 {
  background-image: url("..//..//image/menu-3.jpg");
}
.menus .card__image-4 {
  background-image: url("..//..//image/menu-4.jpg");
}
.menus .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description h3, .menus .card__description p {
  padding-top: 1rem;
}
.menus .card__description i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus__cards .new {
  border: 1px solid red;
  position: relative;
}
.menus__cards .new::before {
  content: " Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  right: 1rem;
  display: grid;
  place-items: center;
  top: 1rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
